<section data-ng-controller="EventsController">
    <div class="page-header">
        <h1>New Event</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Location</label>
                    <div class="controls">
                        <input type="text" data-ng-model="location" id="Location" class="form-control" placeholder="Location">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Date</label>
                    <div class="controls">
                        <input type="text" data-ng-model="date_date" id="Date" class="form-control" placeholder="Date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Time</label>
                    <div class="controls">
                        <input type="text" data-ng-model="date_time" id="Time" class="form-control" placeholder="Time">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Friends</label>
                    <div class="controls" ng-repeat="friend in friends">
                        <input type="checkbox"  ng-model="friend.checked" ng-change="updateFriendList()"> 
                        {{friend.displayName}}
                    </div>
                </div>                
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
{{friendList}}

<div class="dropdown">
  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
    <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
  </ul>
</div>
            
        </form>
    </div>
</section>